h1,h2,h4 {
  //text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}

h1 {
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 1;
  margin-bottom: 10px;
  @media (max-width: 900px) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
  margin-top: 20px;
  @media (max-width: 1078px) {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

h3 {
  font-size: 1rem;
  line-height: 1;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 10px;
  width: auto;
  transition: background 0.2s;
  &:hover {
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
  }
}

h4 {
  letter-spacing: 1px;
  font-weight: 400;
  clear: both;
}

p {
  font-size: 1.5rem;
}

a {
  color: $mainColor;
  text-decoration: none;
}