@import 'variables';
@import 'normalize';
@import '../bower_components/juice/dist/juice';
@import 'grid';
@import 'typography';

html {
  font-size: 16px;
}

body {
  font-family: $bodyFont;
  font-size: 1rem;
  background: $bg;
  color: $mainColor;
  background: url(../images/weather-bg.jpg);
}

.container {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  @media (max-width: 900px) {
    flex-direction: column-reverse;
    height: auto;
  }
}

header.main {
  font-family: 'Open Sans',sans-serif;
  background: rgba(255,255,255,0.8);
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 5;
  width: auto;
  padding: 20px;
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  @media (max-width: 900px) {
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.logo {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 40;
  width: 170px;
  img {
    max-width: 100%;
  }
}

.headsUp {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 3rem;
  color: rgba(255,255,255,0.85);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  z-index: 50;
  @media (max-width: 900px) {
    left: auto;
    right: 10px;
  }
}

.time {
  @include clearfix;
  i {
    float: left;
    font-size: 2.5rem;
    margin-right: 10px;
  }
  p {
    line-height: 1.5;
  }
}

.image, .weather {
  height: 100vh;
  @media (max-width: 900px) {
    height: auto;
  }
}

.image {
  position: relative;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  @media (max-width: 900px) {
    overflow: visible;
  }
}

.weather {
  flex: 1 0 20%;
  display: flex;
  flex-direction: column;
  background: rgba(255,255,255,0.75);
  overflow: scroll;
  box-shadow: 1px 0 2px rgba(0,0,0,0.5);
  @media (max-width: 900px) {
    overflow: visible;
  }
}

.weatherItem {
  @include clearfix;
  padding: 10px;
  flex: 1 0 auto;
  text-align: center;
  .icon, .temp {
    float: left;
    margin-left: 20px;
    @media (max-width: 1078px) {
      float: none;
      margin-left: 0;
    }
  }
  .icon {
    margin-top: 5px;
    text-align: center;
    svg {
      width: 80px;
      height: 80px;
    }
  }
}

.iconList {
  display: none;
}